@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import "variables.module.scss";

@layer base {
    @font-face {
        font-family: 'ArbelG-Regular';
        src: url('../../public/fonts/ArbelG-Medium.eot');
        src: url('../../public/fonts/ArbelG-Regular.eot') format('embedded-opentype'),
             url('../../public/fonts/ArbelG-Regular.woff2') format('woff2'),
             url('../../public/fonts/ArbelG-Regular.woff') format('woff'),
             url('../../public/fonts/ArbelG-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'ArbelG-Medium';
        src: url('../../public/fonts/ArbelG-Medium.eot');
        src: url('../../public/fonts/ArbelG-Medium.eot') format('embedded-opentype'),
             url('../../public/fonts/ArbelG-Medium.woff2') format('woff2'),
             url('../../public/fonts/ArbelG-Medium.woff') format('woff'),
             url('../../public/fonts/ArbelG-Medium.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Cooperative-Regular';
        src: url('../../public/fonts/cooperative-regular.eot');
        src: url('../../public/fonts/cooperative-regular.eot') format('embedded-opentype'),
             url('../../public/fonts/cooperative-regular.woff2') format('woff2'),
             url('../../public/fonts/cooperative-regular.woff') format('woff'),
             url('../../public/fonts/cooperative-regular.ttf') format('truetype'),
             url("../../public/fonts/cooperative-regular.svg#Cooperative-Regular") format("svg");
    }
}

body {
    font-family: 'ArbelG-Regular';
    font-size: 1.2em;
    line-height: 1.4em;
    direction: rtl;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Cooperative-Regular';
}

.title-font {
    font-family: $titleFont;
}