@import "../styles/variables.module.scss";


.container {
    width: 400vw;
	.section {
		direction: rtl;
		height: 100vh;
	}
}
.color1 {
	background-color: #223A57;
}
.color2 {
	background-color: $secondaryColor;
}