.wrapper {
    margin: auto;
    text-align: right;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    padding: 10%;
}
.button {
    display: flex;
    margin-left: auto;
}
.title {
    width: 100%;
}