.bgImage {
    span {
        width: 100vw !important;
        height: 100vh !important;
    }
}
.float1 {
    max-width: 25%;
    margin-top: -10%;
    margin-left: -7%;
}
.float2 {
    max-width: 25%;
    margin-bottom: -10%;
    margin-left: -7%;
}
.float3 {
    max-width: 28%;
    margin-top: 5%;
    margin-right: -15%;
}