@import "../../../styles/variables.module.scss";

.logo {
    max-width: 77px;
}
.title {
    font-size: 16vw;
    line-height: 1em;
    margin-top: 5vh;
    margin-bottom: 2vh;
}
.subtitle {
    font-size: 60px;
    line-height: 1.2em;
    color: $titleColor;
}
.magnetic {
    margin-top: 5vh;
}
.button {
    border: 2px solid $themeColor;
    outline: 2px solid #fff;
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .iconImage {
        max-width: 20px;
    }
    .logo {
        max-width: 60px;
    }
    .subtitle {
        font-size: 30px;
    }

 

}
    
    
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {


    



}